:root {
  --main-txt-color: #212121;
  --secondary-txt-color: #2196f3;
  --third-txt-color: #757575;
  --bg-color-hero: #2f303a;
  --white-color: #ffffff;
  --bg-color-hero-btn: #188ce8;
  --bg-color-comand: #f5f4fa;
  --span-logo-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --btn-port-bg-color: #f5f4fa;
  --border-card-color: #eeeeee;
  --color-icon-main: #afb1b8;
  --bg-color-footer-soc: rgba(255, 255, 255, 0.1);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--white-color);
  color: var(--main-txt-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--secondary-txt-color);
  color: var(--white-color);
  -webkit-transition: background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim), background-color var(--anim);
  transition: box-shadow var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
}
.btn:hover, .btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--bg-color-hero-btn);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.62;
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--secondary-txt-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text {
  color: var(--span-logo-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 40px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--secondary-txt-color);
}

.mobile-menu-btn.is-open .mobile-burger {
  opacity: 0;
}

.mobile-close {
  opacity: 0;
}
.mobile-menu-btn.is-open .mobile-close {
  opacity: 1;
}

/*--mobile-menu--*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}
@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mobile-menu-nav__link {
  color: #212121;
}

.mobile-menu-nav__link--current {
  color: var(--secondary-txt-color);
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact {
  margin-bottom: 64px;
}

.mobile-menu-contact__tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
}

.mobile-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--third-txt-color);
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu-socials__link {
  color: var(--secondary-txt-color);
}

.mobile-menu-socials__item:not(:last-child) .mobile-menu-socials__link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.page-header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-txt-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--secondary-txt-color);
}
.site-nav__link--current {
  position: relative;
  color: var(--secondary-txt-color);
}
.site-nav__link--current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: var(--secondary-txt-color);
  border-radius: 2px;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: var(--third-txt-color);
  fill: var(--third-txt-color);
  -webkit-transition: color var(--anim), fill var(--anim);
  transition: color var(--anim), fill var(--anim);
}
@media screen and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--secondary-txt-color);
  fill: var(--secondary-txt-color);
}

.contact__icon {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.section-hero {
  max-width: 1600px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color-hero);
  color: var(--white-color);
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-img_mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-img_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-img_mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-img_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-img_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-img_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-img_tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-img_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-img_des.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-img_des.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero-img_des@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero-img_des@2x.jpg);
  }
}

.section-hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.section-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section-features__item {
  display: block;
}
@media screen and (min-width: 768px) {
  .section-features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-features__item {
    width: calc((100% - 90px) / 4);
  }
}

.section-features__thumb {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color-comand);
}

.section-features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .section-features__title {
    text-align: center;
  }
}

.section-features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-txt-color);
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.section-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-work__item {
  margin-right: 30px;
  position: relative;
}
.section-work__item:last-child {
  margin-right: 0;
}

.section-work__img {
  display: block;
  height: auto;
}

.section-work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-comand {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-comand);
}
@media screen and (min-width: 1200px) {
  .section-comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.card-comand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.card-comand__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .card-comand__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-comand__item {
    width: calc((100% - 90px) / 4);
  }
}
.card-comand__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.card-comand__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: var(--third-txt-color);
}
.card-comand__meta {
  padding-top: 30px;
  padding-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .card-comand__meta {
    padding-bottom: 30px;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--secondary-txt-color);
}
.social-media__link:hover .social-media__icon, .social-media__link:focus .social-media__icon {
  fill: var(--white-color);
}

.social-media__icon {
  fill: var(--color-icon-main);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.section-clients__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .section-clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .section-clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.section-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid var(--color-icon-main);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.section-clients__icon {
  fill: var(--color-icon-main);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.section-clients__link:hover .section-clients__icon, .section-clients__link:focus .section-clients__icon {
  fill: var(--secondary-txt-color);
}
.section-clients__link:hover, .section-clients__link:focus {
  border-color: var(--secondary-txt-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-hero);
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}
.page-footer__text {
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .page-footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
    margin-bottom: 60px;
  }
}

.contact-list__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contact-list__item {
    margin-bottom: 9px;
  }
}
.contact-list__item:last-child {
  margin-bottom: 0;
}

.contact-list__link,
.contact-list__address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-link-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}

.contact-list__address {
  color: var(--white-color);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--secondary-txt-color);
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-join {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
  }
}
.footer-join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.join-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.join-media__item:not(:last-child) {
  margin-right: 10px;
}
.join-media__icon {
  fill: var(--white-color);
}

.join-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-color-footer-soc);
  border-radius: 50%;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.join-media__link:hover, .join-media__link:focus {
  background-color: var(--secondary-txt-color);
}

.footer-sign {
  margin-left: auto;
}
.footer-sign__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .footer-sign__text {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sign__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .footer-sign {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
    height: 86px;
  }
}
.form-sign__input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 16px;
  margin: 0;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color-hero);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .form-sign__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .form-sign__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-sign__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
    margin-right: 12px;
  }
}
.form-sign__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background: var(--secondary-txt-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
@media screen and (max-width: 1199px) {
  .form-sign__btn {
    margin-right: auto;
    margin-left: auto;
  }
}
.form-sign__send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  z-index: 100;
  overflow-y: scroll;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  min-height: 609px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
  fill: var(--span-logo-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.modal-close-btn:focus .icon-close, .modal-close-btn:hover .icon-close {
  fill: var(--secondary-txt-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-text {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-txt-color);
}
@media screen and (min-width: 1200px) {
  .form-text {
    line-height: 1.15;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-txt-color);
}

.form-input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form-field input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.form-field input:focus {
  border: 1px solid var(--secondary-txt-color);
}

.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--main-txt-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 138px;
}

.form-comment label {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: var(--anim);
  transition: var(--anim);
  cursor: pointer;
}

.form-comment textarea:focus {
  border: 1px solid var(--secondary-txt-color);
}

.check-agry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 30px;
  color: var(--third-txt-color);
}
@media screen and (min-width: 1200px) {
  .check-agry {
    font-size: 14px;
    line-height: 1.72;
  }
}

.check-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-txt-color);
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agry {
  fill: var(--white-color);
}

.check-input:checked + .check-icon {
  background-color: var(--secondary-txt-color);
  background-size: contain;
  background-origin: border-box;
  border: 2px;
  border-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.check-agry-link {
  color: #2196f3;
  margin-left: 5px;
}

.btn-agry {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--secondary-txt-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
  cursor: pointer;
}
.btn-agry:hover, .btn-agry:focus {
  background-color: var(--bg-color-hero-btn);
}

.section-port {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-port {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.div-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .div-btn {
    height: 91px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .div-btn {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .div-btn {
    margin-bottom: 50px;
  }
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .btn-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .btn-list {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

.btn-item {
  display: block;
}

.btn-list .btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-port {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  background-color: var(--btn-port-bg-color);
  color: var(--main-txt-color);
  -webkit-transition: background-color var(--anim), color var(--anim);
  transition: background-color var(--anim), color var(--anim);
}

.btn-port:hover,
.btn-port:focus {
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--secondary-txt-color);
  color: var(--white-color);
}

.btn-current {
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--secondary-txt-color);
  color: var(--white-color);
}

.list-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.list-port .item-port {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .list-port .item-port {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-port .item-port {
    width: 370px;
  }
}

.link-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}

.link-port:hover {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid var(--border-card-color);
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
}

.title-port {
  margin-bottom: 4px;
  color: var(--main-txt-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-port {
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-txt-color);
}

.link-port .port-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.link-port:hover .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}/*# sourceMappingURL=main.css.map */