.list-port {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .list-port .item-port {
    width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 370px;    
    }
}
  
  .link-port {
    display: block;
  
    transition: box-shadow var(--anim);
  }
  
  .link-port:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid var(--border-card-color);
    border-bottom: 1px solid var(--border-card-color);
    border-left: 1px solid var(--border-card-color);
  }  
  
  .title-port {
    margin-bottom: 4px;
    color: var(--main-txt-color);
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .text-port {
    font-size: 16px;
    line-height: 1.88;
    color: var(--third-txt-color);
  }
  
  .link-port .port-img {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
  
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform var(--anim);
  }
  
  .link-port:hover .portfolio-overlay {
    transform: translateY(0);
  }
  
  .portfolio-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  
    color: var(--white-color);
  }