.section-work {
    padding-top: 94px;
    padding-bottom: 94px;
}
  
  
.section-work__list {
    display: flex;
}
  
.section-work__item {
    margin-right: 30px;
    position: relative;

    &:last-child {
        margin-right: 0;
    }
}  
  
.section-work__img {
    display: block;
    height: auto;
}
  
.section-work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}