.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-txt-color);
  }
  
  
  .logo__text {
    color: var(--span-logo-color);
  }